<div class="main_page_content">
  <h2 class="page_title"><%= t("transports.new_transport") %></h2>
  <div class="content_container">
    <%= render :partial => '/transports/form', :locals=>{:transport => @transport, :saved_transports => @saved_transports} %>
  </div>
</div>

<% content_for :sidebar do %>
  <%= render :partial => "/shared/sidebar/latest_users", :locals=>{:users => @latest_users} %>
  <%= render "/shared/sidebar/invite_friends" %>
  <%= render "/shared/sidebar/like_box" %>
<% end %>