<div class="main_page_content">
  <h2 class="page_title"><%= t("navigation.transports_requests") %></h2>
  <div class="content_container">
      <div class="sub_page_container">
        <p>طلبات التوصيلات التي قمت بإرسالها . . . </p>
        <div class="list_wrapper">
          <div class="list_container">
            <%= render :partial => "/transports/transports_requests", :locals => {:transports_requests => @transports_requests, :show_requests => true, :show_transport_data => true}%>
          </div>
        </div>
      </div>
  </div>
  
  <% if @transports_requests.num_pages > 1 %>
  <div class="submit clearfix">
    <%= paginate @transports_requests %>
  </div>
  <% end %>
</div>

<% content_for :sidebar do %>
  <%= render "/shared/sidebar/transport_search" %>
  <%= render "/shared/sidebar/like_box" %>
  <%= render "/shared/sidebar/invite_friends" %>
  <%= render "/shared/sidebar/groups_users" %>
<% end %>