<div class="main_page_content">
  <h2 class="page_title"><%= t("pages.FAQ") %></h2>
  <div class="content_container">
    <div class="sub_page_content">
      <%= render :layout => "q", :locals => {:q_title => "", :q_number => 0, :q_first => true, :q_last => false, :show_nav => false} do %>
        <h4><%= link_to "مين ممكن يستخدم موقع توصيلة ؟", "#q_1" %></h4>
        <h4><%= link_to "ايه الهدف من موقع توصيلة ؟", "#q_2" %></h4>
        <h4><%= link_to "منين التوصيله بين الأصدقاء و منين الواحد حيدفع للموقع ؟", "#q_3" %></h4>
        <h4><%= link_to "", "منين التوصيله بين الأصدقاء و منين الواحد حيدفع للموقع ؟" %></h4>
        <h4><%= link_to "طيب انا ايه الي يخليني استخدم موقع توصيلة، طيب ما انا ممكن اكلم صحابي على طول ؟", "#q_5" %></h4>
        <h4><%= link_to "طيب لو انا مش عاوز اخد فلوس من صحابي ؟", "#q_6" %></h4>
        <h4><%= link_to "طيب لازم أضيف توصيلات على طول ؟", "#q_7" %></h4>
        <h4><%= link_to "طيب انا محتاج اشحن رصيدي دلوقتي علشان اقدر استخدم الموقع ؟", "#q_8" %></h4>
        <h4><%= link_to "ازاي اثق فى الي حيركب معايا او الي حركب معاه ؟", "#q_9" %></h4>
        <h4><%= link_to "يعني ايه مستوى الثقة ! وازاي اقدر احدده ؟", "#q_10" %></h4>
        <h4><%= link_to "ازاي أضمن العثور على مواصلة بسهولة ؟", "#q_11" %></h4>
        <h4><%= link_to "الفكرة جات لكم منين ؟", "#q_12" %></h4>
        <h4><%= link_to "الناس حتتعرف على بعض ازاي ؟", "#q_13" %></h4>
        <h4><%= link_to "تكلفة التوصيلة حتتدفع ازاي ؟", "#q_14" %></h4>
        
      <% end %>
      
      <%= render :layout => "q", :locals => {:q_title => "مين ممكن يستخدم موقع توصيلة ؟", :q_number => 1, :q_first => true, :q_last => false, :show_nav => true} do %>
        <p>الفكرة مش للي عنده عربية بس .. الفكرة كمان للي معندهوش عربية.</p>
        <p>الي عنده عربية ممكن يلاقي حد يجي معاه فى سكته ويوفر فى تكلفة البنزين، والي معندهوش عربية ممكن يلاقي حد من صحابه او أصحاب أصحابه يوصله.</p>
      <% end %>
      
      <%= render :layout => "q", :locals => {:q_title => "ايه الهدف من موقع توصيلة ؟", :q_number => 2, :q_first => true, :q_last => false, :show_nav => true} do %>
        <p>المساعدة على حل مشكلة من اهم المشكلات التي تواجه المجتمع وهي مشكلة زحمة المواصلات</p>
        <p>توفير تكلفة البنزين لإصحاب السيارات</p>
        <p>توفير مواصلة مناسبة وسهلة فى نطاق الأصدقاء للباحثين عن المواصلات</p>
      <% end %>
      
      <%= render :layout => "q", :locals => {:q_title => "منين التوصيله بين الأصدقاء و منين الواحد حيدفع للموقع ؟", :q_number => 3, :q_first => true, :q_last => false, :show_nav => true } do %>
        <p>مش عيب لما الأصحاب يوصلوا بعض ، ومش عيب برده لما الي مش لاقي مواصلة يدفع لصاحب العربية فلوس مقابل التوصيلة ، وعلشان ميبقاش في حساسية وانا بدفع لصاحبي او وانا باخد من صاحبي فلوس</p>
        <p>كل الدفع حيكون على موقع توصيلة . . انت تشحن رصيدك على موقع توصيلة واحنا حندفع لصاحب العربية . وصاحب العربية حيقدر ياخد فلوسه او يجمعها ويخدها مرة واحدة، والي شحن فلوسه ومستخدمهاش يقدر يرجعها تاني.</p>
      <% end %>
      
      <%= render :layout => "q", :locals => {:q_title => "موقع توصيلة حيستفاد ايه ؟", :q_number => 4, :q_first => true, :q_last => false, :show_nav => true } do %>
        <p>لما الي عاوز توصيلة يدفع لصاحب العربية تكلفة التوصيلة، موقع توصيلة حياخد 20% بس من قيمة التوصيلة ويحول الباقي لرصيد صاحب العربية ، ولما صاحب العربية يجمع مبلغ وعاوز يسحبه حيقدر يسحبه وحنبعت له كل فلوسه الي مجمعها على موقع توصيلة</p>
        <p>كل الدفع حيكون على موقع توصيلة . . انت تشحن رصيدك على موقع توصيلة واحنا حندفع لصاحب العربية . وصاحب العربية حيقدر ياخد فلوسه او يجمعها ويخدها مرة واحدة، والي شحن فلوسه ومستخدمهاش يقدر يرجعها تاني.</p>
      <% end %>
      
      <%= render :layout => "q", :locals => {:q_title => "طيب انا ايه الي يخليني استخدم موقع توصيلة، طيب ما انا ممكن اكلم صحابي على طول ؟", :q_number => 5, :q_first => true, :q_last => false, :show_nav => true } do %>
        <p>علشان تقدر تنسق مع صحابك حتحتاج تكلمهم كل يوم علشان تأكد عليهم، ولو عملت كده مش حتقدر تكلم كل صحابك، ولو انت رايح بعربيتك مشوار بعيد او سفر ومحتاج حد يجي معاك مش حتكلم كل صحابك علشان تعرف مين فيهم يقدر يجي معاك</p>
        <p>علشان كده موقع توصيلة موجود، علشان يوفر عليك مجهود انك تنسق مع صحابك او تقول انك بكرة حتاخد حد معاك أو لأ وعلشان هو الي حيبقى مسؤل عن ان يجمع لك الفلوس تكلفة التوصيلة علشان ميبقاش في حساسية بين الأصدقاء وهما بياخدوا من بعض فلوس فى اليد</p>
        <p>وعلشان موقع توصيلة حيقدر يوفر لك عدد اكثر من الأصدقاء وبطريقة سهلة جدا حتقدر تعرف مين الي جاي معاك ومش محتاج تكلمهم كلهم</p>
        <p>لو انت عندك 100 صديق على الفيسبوك، منهم 50 بس مسجلين على توصيلة، كل واحد من الـ 50 عنده 50 صديق برده مسجلين على موقع توصيلة، يعني 50 * 50 يبقى حوالي 2500 صديق، اعتقد انك متقدرش تكلم كل دول علشان تشوف مين فيهم يقدر يوصلك ، او انت حتقدر توصل مين فيهم !</p>
      <% end %>
      
      <%= render :layout => "q", :locals => {:q_title => "طيب لو انا مش عاوز اخد فلوس من صحابي ؟", :q_number => 6, :q_first => true, :q_last => false, :show_nav => true } do %>
        <p>لو انت معاك عربية وعاوز تضيف توصيلة على الموقع ومش عاوز تاخد فلوس من صحابك تقدر تعمل كده ، وتحدد ان التوصيلة حتكون مجانا  وتستخدم الموقع عادي جدا.</p>
      <% end %>
      
      <%= render :layout => "q", :locals => {:q_title => "طيب لازم أضيف توصيلات على طول ؟", :q_number => 7, :q_first => true, :q_last => false, :show_nav => true } do %>
        <p>لو انت معاك عربية وعندك أستعداد توصل صحابك، يبقى فى الوقت المناسب ليك بس تقدر تضيف توصيلات على الموقع، أو لو في مشواير عندك استعداد تاخد حد معاك</p>
        <p>وحتلاقي على الموقع حاجات تساعدك تضيف توصيلات متكررة، وتعيد التوصيلة تاني يوم ، بدل ما تكتب كل بيانات التوصيلة كل مرة، وعلشان يسهل عليك عملية أضافة التوصيلة</p>
      <% end %>
      
      <%= render :layout => "q", :locals => {:q_title => "طيب انا محتاج اشحن رصيدي دلوقتي علشان اقدر استخدم الموقع ؟", :q_number => 8, :q_first => true, :q_last => false, :show_nav => true } do %>
        <p>لأ مش لازم طبعا، تقدر تسخدم الموقع من غير ما تشحن رصيدك وممكن برده تدور على توصيلات مجانا ، بس لو لقيت توصيلة صاحبها عاوز فيها فلوس يبقى لازم تشحن رصيدك الأول قبل ما تطلب التوصيلة</p>
        <h4>وعلى العموم موقع توصيلة حيديك 100 جنيه علشان تجرب بيهم الموقع</h4>
      <% end %>
      
      <%= render :layout => "q", :locals => {:q_title => "ازاي اثق فى الي حيركب معايا او الي حركب معاه ؟", :q_number => 9, :q_first => true, :q_last => false, :show_nav => true } do %>
        <p>موقع توصيلة يعتمد على شبكة الأصدقاء فقط، انت تقوم بالتسجيل بحساب الفيسبوك أو تويتر أو لينكدأن او كلهم مع بعض، بعد ذلك تتم عمليات البحث على موقع توصيلة فى نطاق الأصدقاء أو أصدقاء الأصدقاء على حسب مستوى الثقة الذي سحدده على موقع توصيلة</p>
      <% end %>
      
      <%= render :layout => "q", :locals => {:q_title => "يعني ايه مستوى الثقة ! وازاي اقدر احدده ؟", :q_number => 10, :q_first => true, :q_last => false, :show_nav => true} do %>
        <p>تقدر تحدد مستوى ثقتك في الأصدقاء الي حتركب معاهم او حيركبوا معاك، ممكن يكونوا أصدقائك فقط ، أو اصدقاء أصدقائك ، وهكذا . . . </p>
        <p>تقدر تحدد مستوى الثقة وانت بتسجل على الموقع، ولو انت مسجل بالفعل يبقى تقدر تعدلها من صفحة تعديل بيانات</p>
        <p>لو أخترت مستوى الثقة مرتفع، موقع توصيلة حيدور فى شكبة أصدقائك فقط الي على الفيسبوك أو تويتر أو لينكدأن على حسب انت مسجل بمين، اما بقى لو اختر مستوى الثقة متوسط، موقع توصيلة حيدور فى شبكة أصدقائك وأصدقاء أصدقائك ، وهكذا . . . . كلما قل مستوى الثقة كلما زاد عدد أصدقائك على موقع توصيلة</p>
      <% end %>
      
      <%= render :layout => "q", :locals => {:q_title => "ازاي أضمن العثور على مواصلة بسهولة ؟", :q_number => 11, :q_first => true, :q_last => false, :show_nav => true} do %>
        <p>علشان موقع توصيلة بيعتمد على شبكة اصدقائك واصدقاء اصدقائك وهكذا، فيجب عليك دعوة اصدقائك للتسجيل بالموقع لكي تستفيد من خدمات الموقع ولكي يمكنك العثور على مواصلة بكل سهولة.</p>
      <% end %>
      
      <%= render :layout => "q", :locals => {:q_title => "الفكرة جات لكم منين ؟", :q_number => 12, :q_first => true, :q_last => false, :show_nav => true} do %>
        <p>من الي بنشوفه من الزحمة وبهدلة الناس فى المواصلات، مين فينا مش بيعاني من مشكلة زحمة المواصلات، ونحن لا ننتظر الحل من الحكومة فنحن نحاول ان نحل مشاكلنا على قدر المستطاع، وفي نفس الوقت في عربيات كتير مشاية فى الشارع فاضية مفهاش حد غير صاحب العربية . .  وممكن يكون حد من صحابه او اصحاب اصحابه رايحين نفس المكان الي هو رايحه . . ومن هنا بدأت فكرة موقع توصيلة.</p>
      <% end %>
      
      <%= render :layout => "q", :locals => {:q_title => "الناس حتتعرف على بعض ازاي ؟", :q_number => 13, :q_first => true, :q_last => true, :show_nav => true} do %>
        <p>بعد التسجيل على الموقع وتخلي كمان اصحابك يسجلوا حيقوم موقع توصيلة بالباقي علشان الموقع حيجب اصحابك واصحاب اصحابك من على الفيس بوك أو تويتر أو لينكدأن على حسب انت سجلت باي حساب، وهما هما حيبقى اصدقائك على موقع توصيلة . . بعد كده الي معاه عربية بيضيف التوصيلة الي ممكن ياخد حد معاه فى سكته ويحدد تاريخ ووقت والمسار الي حيمشي فيه بالعربية وكل ده على الخريطة . . اما بقى الي معهوش عربية كل يوم قبل ما يروح مشوار بيدخل ويشوف مين الي ضاف توصيلة وعنده استعداد ياخد حده معاه فى سكته.</p>
      <% end %>
      
      <%= render :layout => "q", :locals => {:q_title => "تكلفة التوصيلة حتتدفع ازاي ؟", :q_number => 14, :q_first => true, :q_last => true, :show_nav => true} do %>
        <p>الي عاوز التوصيلة حيدفع قيمة التوصيلة الي حيحدد قيمتها صاحب العربية، بعد كده الموقع حيحولها لصحاب العربية، بس الدفع مش حيبقى لكل توصيلة على حدى ولكن الي عاوز توصيلة حيقوم بشحن رصيده على موقع توصيلة بملغ وليكن 10 جنيه، سيتمكن من استغلال هذا الرصيد في الدفع للتوصيلات، ولما يخلصوا يبقى يحول غيرهم او اكثر منهم، ثمن التوصيلة حتتحول لصحاب العربية على الموقع،  وبعد كده حيقدر يحولها لفلوس حقيقة فى ايده، الموقع علشان لسه طالع مش حيكون في اي دفع ولكن كل واحد حيسجل حياخد رصيد مجاني علشان نجرب بيه الخدمة، لكن بعد كده حنختار اسهل طريقة ممكنة علشان تدفع بيها للموقع والموقع يحول الفلوس ديه تاني لصاحب العربية.</p>
      <% end %>
      
    </div>
  </div>
</div>

<% content_for :sidebar do %>
  <%= render "/shared/sidebar/like_box" %>
  <%= render "/shared/sidebar/invite_friends" %>
  <%= render "/shared/sidebar/how_it_works" %>
<% end %>