<div class="main_page_content">
  <h2 class="page_title"><%= t("pages.how_it_works") %></h2>
  <div class="content_container">
    <br><br>
    <div id="slider-howtowork">
      <div>
        <img src="/images/how_it_works/merge.png" alt="picture">
        <h3><span>دمج</span> الحسابات</h3>
        <p>هناك اكثر من طريقة لتسجيل الدخول على موقع توصيلة، بإستخدام حساب الفيسبوك أو حساب تويتر أو حساب لينكدان، يمكنك الأختيار بين احدي هذه الحسابات لتسجيل الدخول، سيقوم موقع توصيلة فى البحث عن أصدقائك فى الحساب الذي قمت بالتسجيل به، لزيادة نطاق البحث يمكنك الدخول بأكثر من حساب فى نفس الوقت، بعد تسجيل دخول أول مرة بإحدى الحسابات، قم بفتح صحفة دمج الحسابات من الرابط المخصص لذلك، بعد ذلك قم بتسجيل الدخول مرة أخرى بحساب آخر لدمج أكثر من حساب معا والأستفادة بتوسيع دائرة اصدقائك للبحث عن توصيلات او للبحث عن رفيق فى الطريق </p>
      </div>
      <div>
        <img src="/images/how_it_works/request.png" alt="picture">
        <h3>طلبات <span>التوصيلات</span></h3>
        <p>بعدما قمت بالبحث عن توصيلات، الان قم بمراجعة التوصيلات المتاحة وتأكد من مسار التوصيلة المطلوبة وكذلك ميعاد التوصيلة، بعد التأكد من كل هذا يمكنك الأن إرسال طلب للإنضمام الى احدى التوصيلات، سيقوم الموقع بتبليغ صاحب التوصيلة بأن هناك مشترك جديد يريد الإنضمام معه، وعليك الأن انتظار الرد من صاحب التوصيلة بالقبول أو الرفض</p>
      </div>
      <div>
        <img src="/images/how_it_works/card_logo.png" alt="picture">
        <h3>وسائل <span>الدفع</span></h3>
        <p>قبل البدء فى طلب الإنضمام لإحدي التوصيلات، يجب عليك الحصول على رصيد يكفي ويكون اكبر من او مساوي لقيمة التوصيلة المطلوبة، وللحصول على رصيد يجب استخدام احدى الوسائل المتاحة لزيادة رصيدك على موقع توصيلة، وإذا حصلت على رصيد من أصدقائك وأصبح لديك رصيد عالى على موقع توصيلة سيمكنك سحب الرصيد مرة اخرى بإحدى الطرق المتاحة على موقع توصيلة</p>
      </div>
      <div>
        <img src="/images/how_it_works/bus_station.png" alt="picture">
        <h3>عاوز <span>توصيلة</span></h3>
        <p>إذا كنت لا تمتلك سيارة فأنت امام خيار بالبحث عن توصيلة، للبحث عن توصيلة أضغط على الرابط المخصص للبحث عن التوصيلات، يجب تحديد بعض البيانات كميعاد التوصيلة المطلوبة وتحديد الجنس المسموح لك بالركوب معهم فى السيارة، بعد ذلك عليك تحديد مسار التوصيلة المطلوبة على الخريطة عن طريق وضع نقاط على الخريطة أبتداء من نقطة البداية ومرورا بالنقاط التي ستمر بها ثم نقطة النهاية ، بعد ذلك قم بعملية البحث وسيقوم موقع توصيلة بالبحث عن التوصيلات المناسبة لك والتي قام أصدقائك بإضافتها على الموقع</p>
      </div>
      <div>
        <img src="/images/how_it_works/login.png" alt="picture">
        <h3>تسجيل <span>الدخول</span></h3>
        <p>يجب عليك تسجيل الدخول أولا للإستفادة من خدمات الموقع ، يمكنك تسجيل الدخول بحساب الفيسبوك أو تويتر أو لينكدان ، أثناء عملية التسجيل يجب عليك إدخال بعض البيانات كبيانات الاتصال ويجب ايضا تحديد مستوى الثقة ، كلما زاد مستوى الثقة كلما قل عدد الأصدقاء وكلما ايضا زادت ثقتك فى الأشخاص الذين ستتعامل معهم، ويجب عليك أيضا تحديد بيانات السيارة التي تمتلكها اذا كنت تمتلك واحدة ، جميع البيانات التي تقوم بإدخالها لن تكون متاحة لكل الأعضاء ولكن ستكون متاحة للأعضاء الذين ستتعامل معهم فقط فى اي توصيلة</p>
        <p>الأن لإستكمال شرح كيفية عمل موقع توصيلة يجب عليك الأختيار بين التالي : </p>
        <h5 style="float: right; margin-right: 15px;"> أمتلك سيارة &gt; &gt; </h5>
        <h5 style="float: left; margin-left: 15px;">  &lt; &lt; عاوز توصيلة </h5>
        <div style="clear: both;"></div>
      </div>
      <div>
        <img src="/images/how_it_works/cars.png" alt="picture">
        <h3><span>أمتلك سيارة</span></h3>
        <p>إذا كنت تمتلك سيارة فأنت امام خيار بإضافة توصيلة ، لإضافة توصيلة أضغط على الرابط المخصص لإضافة التوصيلة، يجب تحديد وصف للتوصيلة أولا ثم وضع ميعاد التحرك لبدء التوصيلة وتحديد الجنس المسموح لهم بالركوب معك فى السيارة، ثم قم بتحديد المبلغ المطلوب لهذه التوصيلة، بعد ذلك عليك تحديد مسار التوصيلة على الخريطة عن طريق وضع نقاط على الخريطة أبتداء من نقطة البداية ومرورا بالنقاط التي ستمر بها ثم نقطة النهاية ، بعد حفظ التوصيلة سيتم نشرها مع أصدقاء على الفيسبوك أو تويتر أو لينكدان للبحث عن رفيق للطريق</p>
      </div>
      <div>
        <img src="/images/how_it_works/responses.png" alt="picture">
        <h3><span>طلبات</span> الأصدقاء</h3>
        <p>بعد إضافة التوصيلة ونشرها مع أصدقائك توقع الحصول على طلبات من أصدقائك ، يمكنك متابعة التوصيلات التي قمت بإضافة او متابعة التنبيهات التي قد تصلك على البريد الإلكتروني الخاص بك أو رسائل على المحمول الخاص بك، قم بمراجعة الطلبات المرسلة والتعرف على بيانات الأشخاص الذين ستسمح لهم بالركوب معك ، وراجع أيضا المبلغ الذي سيقوم بدفعه والمكان الذي ستلتقوا فيه وهل هذا يتناسب معك ام لا، وعلى هذا الأساس يجب عليك الموافقة على التوصيلة أو الرفض فورا، بعد الموافقة مباشرا سيتم تحويل قيمة التوصيلة المطلوبة لحسابك على موقع توصيلة الذي ستتمكن من تحويله الى رصيد حقيقي لاحقا بعد خصم 20% فقط عمولة الموقع</p>
      </div>
      <div>
        <img src="/images/how_it_works/friends.png" alt="picture">
        <h3>قائمة <span>الأصدقاء</span></h3>
        <p>بعد ان قمت بالتسجيل على الموقع بالوسائل المتاحة، يمكنك الأن الدخول على صفحة الأصدقاء من الرابط المخصص لذلك، يمكنك من خلال صفحة الأصدقاء البحث والتعرف على كل أصدقائك الذين قاموا بالتسجيل على الموقع</p>
      </div>
      <div>
        <img src="/images/how_it_works/block.png" alt="picture">
        <h3><span>حجب</span> الأصدقاء</h3>
        <p>قد يتعرض البعض لمواقف محرجة مع بعض الأصدقاء، ولتجنب حدوث ذلك يتجنب بعضنا التعامل مع بعض الأصدقاء لمنع حدوث خلافات ما، لذلك من خلال موقع توصيلة يمكنك حجب اي صديق بحيث لا يظهر له التوصيلات التي تقوم بإنشائها ولا يستطيع ان يقوم بإرسال طلب توصيلة لك دون ان يشعر الصديق بأنك قد قمت بعمل الحجب وبذلك يمكننا تجنب الأصدقاء الغير مرغوب فيهم</p>
      </div>
      <div>
        <img src="/images/how_it_works/messages.png" alt="picture">
        <h3><span>الرسائل</span></h3>
        <p>لتسهيل الأتصال بينك وبين أصدقائك دون أستخدام الهواتف بطريقة قد تصل الى حد المضايقة، فأننا قمنا على موقع توصيلة بإضافة نظام الرسائل لتسهيل الأتصال بينك وبين أصدقائك</p>
      </div>
      <div>
        <img src="/images/how_it_works/privacy.png" alt="picture">
        <h3><span>الخصوصية</span></h3>
        <p>الخصوصية دائما هي العامل المهم بين المستخدم والموقع، لذلك نحن نأكد على الحفاظ على خصوصية المستخدمين وعلى البيانات التي يقومون بإدخالها، نحن نستخدم البيانات التي يقوم المستخدمين بإدخالها للوصول الى افضل خدمة وهي طريقة أيضا للوصول والتواصل مع المستخدمين، ونحن لا نقوم بنشر أو مشاركة البيانات الموجودة على توصيلة فقط مع أصدقائك الذين قمت بالتعامل معهم فقط</p>
      </div>
      <div>
        <img src="/images/how_it_works/advice.png" alt="picture">
        <h3>بعض <span>النصائح</span></h3>
        <p>لا تحاول طلب الأنضمام لأكثر من توصيلة لهم نفس الموعد ونفس الطريق، لأن في حالة قبول الطلب سيتم خصم قيمة التوصيلة من رصيدك الخاص</p>
        <p>عامل الثقة مهم جدا، لذلك قم بتحديد مستوى الثقة الخاص بك عند عملية التسجيل، كما يمكنك تعديل مستوى الثقة فى اي وقت من صفحة تعديل بياناتي، كلما زاد مستوى الثقة كلما قل عدد الاصدقاء وكلما قل مستوى الثقة كلما زاد عدد الأصدقاء</p>
        <p>انت كصاحب سيارة، كلما اضفت توصيلات جديدة اكثر وحصلت على طلبات للإنصمام للتوصيلات ووافقت عليها كلما زاد رصيدك على موقع توصيلة وحصلت ايضا على ميزات من الموقع وحصلت ايضا على نقاط تساعدك فى استخدام خدمات اخرى من موقع توصيلة لاحقا</p>
        <p>لضمان الوصول الى افضل خدمة من موقع توصيلة وكذلك من أصدقائك لذلك وضعنا بموقع توصيلة طريقة لإضافة تقييم وتبليغ عن الأعضاء وعن التوصيلات </p>
      </div>
      
    </div>
    <br><br>
  </div>
</div>

<%= content_for :stylesheets do %>
  <%= stylesheet_link_tag "/stylesheets/movingboxes.css" %>
  <!--[if lt IE 9]>
    <link href="/stylesheets/movingboxes-ie.css" rel="stylesheet" media="screen" />
  <![endif]-->
<% end %>

<%= content_for :javascripts do %>
  <%= javascript_include_tag "/javascripts/jquery.movingboxes.min.js" %>
  <script>
    $(function(){
      $('#slider-howtowork').movingBoxes({
        startPanel   : 5,
        reducedSize  : 0.8,
        buildNav     : true,
        navFormatter : function(index, panel){ return panel.find('h3 span').text(); },
        width        : 850,
        panelWidth   : 0.6,
        wrap         : true
      });
    });
  </script>
<% end %>