<div style="display: none;">
  <div id="login_content" class="login_content">
    <h1 class="login_title"><%= t("navigation.login")%></h1>
    <div class="help_txt">
      <p><%= t("pages.login.line_1")%></p>
      <p><%= t("pages.login.line_2")%></p>
      <p><%= t("pages.login.line_3")%></p>
    </div>
    
    <div style="display: none;">
      <%= image_tag "/images/provider/linked_in_log.png" %>
      <%= image_tag "/images/provider/twitter_log.png" %>
      <%= image_tag "/images/provider/facebook_log.png" %>
    </div>
    
    <div class="login_logos">
      <ul class="login_list">
        <li><%= link_to "", login_path(:facebook), :class=>"facebook_login" %></li>
        <li><%= link_to "", login_path(:twitter), :class=>"twitter_login" %></li>
        <li><%= link_to "", login_path(:linked_in), :class=>"linked_in_login" %></li>
      </ul>
    </div>
  </div>
</div>